.mainbox {
    position: relative;
    display: grid;
    grid-template-columns: repeat(11, 60px);
    grid-template-rows: repeat(6, 60px);
    gap: 2px;
    margin: 20px;
  }
  
  .z {
    width: 60px;
    height: 60px;
    position: relative;
    background-color: #111;
    border: 1px solid #222;
  }
  
  .score-box {
    grid-column: span 11;
    font-size: 24px;
    color: white;
  }
  
  .text {
    grid-column: span 11;
    font-size: 18px;
    color: white;
  }
  