@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Overpass:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Josefin Sans", "comic sans";
}

html{
    height: 100vh;
}
body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #76c893;
    background: linear-gradient(to top, #76c893, #41967e);
}

input{
    text-align: center;
    font-size: 4rem;
    height: 90px;
    width: 120px;
    padding-top: .150em;
    background-color: #d3eb7b;
    border: none;
    border-radius: .1em;

}
input:invalid{
    outline: 5px solid red;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    margin: .5em 0;
}

.buttons > *{
    width: 70px;
    height: 26px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.507);
    border-radius: .3em;
    font-size: 1rem;
    font-weight: 700;
    transition: 100ms all ease-in;
}
.buttons > *:hover{
    cursor: pointer;
    background-color: #e9e9e9;
    transition: 100ms all ease-in;
}

.indicators{
    /*background-color: aquamarine;*/
    display: flex;
    justify-content: space-around;
    margin: .3em 0;
}

.time-section{
    display: flex;
    font-size: 3rem;
    align-items: center;
    color: rgba(0, 0, 0, 0.233);
    justify-content: center;
}

.currentlyStarted{
    background-color: rgba(255, 255, 255, 0.808);
    position: absolute;
    top: 120px;
    border-radius: .1em;
    outline: 3px solid #81A684;
    padding: 1em 2em;
    animation: themsg 1200ms ease-in-out forwards reverse;
    font-size: 1.1rem;
    font-weight: 1000;
}

@keyframes themsg{
    0%{
        opacity: 100%;

    }100%{
        opacity: 0;
        transform: translateY(200px);
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    cursor: not-allowed;
}
svg{
    margin-right: .5em;
    border-radius: 1em;
}
svg:hover{
    background-color: rgba(255, 255, 255, 0.363);
}

.toby{
    width: 100px;
    height: 80px;
    position: absolute;
    z-index: -1;
    animation: tobyfox 1s linear forwards, tobyfox2 1s linear 3s forwards;
}
@keyframes tobyfox2{
    100%{
        transform: translateY(3px);
    }
}

@keyframes tobyfox {
    100%{
        transform: translateY(-90px);  
    }
}

.disappear{
    animation: disappear 1s linear 3s forwards;
}

@keyframes disappear {
    0%{

    }
    100%{
        transform: translateY(-90px);
        opacity: 0;
    }
}