* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background: #2c3e50;
  color: white;
  transition: width 0.3s ease;
  position: relative;
}

.sidebar.collapsed {
  width: 80px;
}

.toggle-btn {
  position: absolute;
  left: 15px ;
  top: 10px;
  width: 30px;
  height: 30px;
  
  background: #2c3e50;
  color: white;
  /* border: 2px solid white; */
  cursor: pointer;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar nav ul {
  list-style: none;
  padding: 20px 0;
  margin-top: 40px;
}

.sidebar nav ul li {
  margin-bottom: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
  gap: 10px;
}

.menu-item:hover {
  background: #34495e;
}

.menu-item.active {
  background: #3498db;
}

.icon {
  font-size: 1.2rem;
}

.label {
  font-size: 1rem;
}

.main-content {
  flex: 1;
  /* padding: 20px; */
  background: #f9f9fc;
}







.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden; 
}

.sidebar {

  overflow-y: auto; 
  background: #2c3e50; 
}

.main-content {
  flex: 1; 
  height: 100vh;
  overflow-y: auto; 
  position: relative;
  background: #f9f9fc;
}





